@import "tailwindcss";

@theme {
  --breakpoint-12inch : 1279
}


.thin-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.stable-scrollbar {
  scrollbar-gutter: stable;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 9999px;
}